.footer {
  position: relative;
  background-color: var(--theme3-bg-footer);
  color: white;
  a {
    color: white;
  }
}
.bg-footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer-links-soi {
  gap: 10px;
  & li a {
    background: white;
    color: white;
    width: 32px;
    height: 32px;
    display: block;
    text-align: center;
    line-height: 32px;
    border-radius: 2px;
    &:hover {
      background: var(--theme3-primary-color);
    }
    & i {
      transition: all 0.6s ease;
      color: black;
    }
    &:hover i {
      color: #ffffff;
      transform: rotateY(360deg);
    }
  }
}
.copyrights {
  border-top: 1px dashed rgba(255, 255, 255, 0.1);
  background-color: #1f1f1f;
  width: 100%;
  text-align: left;
  padding: 10px 0px;
  overflow: hidden;
}
.footer-links li {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}
