
<div class="animated fadeIn">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <strong>Plan Edit</strong>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" [formGroup]="themeForm">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <input type="text" id="price" name="price" class="form-control" formControlName="price">
                            </div>
                            <label class="col-md-6 col-form-label "> $ / MONTH</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <input type="text" id="email" name="email" class="form-control" formControlName="email">
                            </div>
                            <label class="col-md-6 col-form-label">Email Addresses</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <input type="text" id="storage" name="storage" class="form-control"
                                    formControlName="storage">
                            </div>
                            <label class="col-md-6 col-form-label">Gb of Storage</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <input type="text" id="databases" name="databases" class="form-control"
                                    formControlName="databases">
                            </div>
                            <label class="col-md-6 col-form-label">Databases</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <input type="text" id="domains" name="domains" class="form-control"
                                    formControlName="domains">
                            </div>
                            <label class="col-md-6 col-form-label">Domains</label>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <input type="text" id="support" name="support" class="form-control"
                                    formControlName="support">
                            </div>
                            <label class="col-md-6 col-form-label">Support</label>
                        </div>

                    </form>
                </div>
                <div class="card-footer">
                    <button type="button" (click)="onSubmit(themeForm)" class="btn btn-sm btn-primary"><i
                            class="fa fa-dot-circle-o"></i>
                        Save</button>
                    <button type="button" (click)="onReset()" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>
                        Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>