<footer class="footer pt-4 theme-style-1"  [style]="{'backgroundColor':bgColor}">
    <div class="container-fluid container-fluid-product">
        <div class="row wrapper">
            <!-- About -->
            <div class="col-12 col-sm-6 col-lg-4  footer_col footer_col_logo ">
                <div class="footer_about mb-3 d-flex flex-column ">
                    <div class="footer_title font-weight-bold text-uppercase">Online traffic school for Virginia</div>
                    <div class="logo_container mt-3">
                        <a routerLink="home">
                            <img class="logo-main" src="assets/img/photo/pnl-header-v1-logo-removebg-preview.png" alt="">
                        </a>
                        <a routerLink="home" class="mt-3">
                            <img src="assets/img/photo/pnl-header-v1-serving-removebg-preview.png" alt="">
                        </a>
                        <a routerLink="home" class="mt-3">
                            <img src="assets/img/photo/pnl-header-v1-phone-removebg-preview.png" alt="">
                        </a>
                    </div>
                </div>
            </div>


            <div class="col-12 col-sm-6 col-lg-3 footer_col">
                <div class="footer_links ">
                    <div class="footer_title font-weight-bold text-uppercase">Policy</div>
                    <ul class="footer_list mt-3">
                        <li><a routerLink="privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="refund-policy">Refund Policy</a></li>
                        <li><a routerLink="terms">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>


            <div class="col-12 col-lg-5 footer_col">
                <div class="footer_contact ">
                    <div class="footer_title font-weight-bold text-uppercase">Contact us</div>
                    <div class="footer_contact_info mt-3">
                        <div class="footer_contact_item">
                            <h5 class="footer_contact_title">Email:</h5>
                            <p class="footer_contact_line">virginia@cheapeasyfast.com</p>
                        </div>
                        <div class="footer_contact_item">
                            <h5 class="footer_contact_title">Primary Phone:</h5>
                            <p class="footer_contact_line">800-932-6813</p>
                        </div>
                        <div class="footer_contact_item">
                            <h5 class="footer_contact_title">Email & Phone Support:</h5>
                            <p class="footer_contact_line">Monday - Friday: 8 AM - 6 PM (PST)</p>
                            <p class="footer_contact_line">Saturday – Sunday: 9 AM – 4 PM (PST)</p>
                        </div>
                        <div class="footer_contact_item">
                            <h5 class="footer_contact_title">Address:</h5>
                            <p class="footer_contact_line">4901 Morena Blvd Suite 214, San Diego CA 92117
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="copyright  text-center py-3">
        &copy; 2021 Cheap Easy Fast Virginia - All Rights Reserved.
    </div>
</footer>