<footer class="footer pt-4 theme-style-2">
    <div class="container-fluid container-fluid-product">
        <h3 class="font-weight-bold text-uppercase text-center mb-5">Online traffic school for Virginia</h3>
        <div class="row ">
            <!-- About -->
            <div class="col-12 col-sm-6 col-md-4 mb-3">
                <div class="footer_contact">
                    <h5 class="footer_title font-weight-bold text-uppercase">About us</h5>
                    <div class="logo_container mb-3 mt-2">
                        <a routerLink="home">
                            <img class="h-100 w-100" src="assets/img/photo/pnl-header-v1-logo-removebg-preview.png" alt="">
                        </a>
                    </div>
                    <ul class="footer-links-soi d-flex justify-content-start pl-0">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-github"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul><!-- end links -->
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-3 mb-3">
                <div class="footer_contact ">
                    <h5 class="footer_title font-weight-bold text-uppercase">Quick Link</h5>
                    <div class="footer_contact_info mt-2">
                        <div class="footer_contact_item">
                            <a routerLink="home">Home</a>
                        </div>
                        <div class="footer_contact_item">
                            <a routerLink="start-course">Start Course</a>
                        </div>
                        <div class="footer_contact_item">
                            <a routerLink="about-us">About Us</a>
                        </div>
                        <div class="footer_contact_item">
                            <a routerLink="login">Login</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  col-md-5 mb-3">
                <div class="footer_contact">
                    <h5 class="footer_title font-weight-bold text-uppercase">Contact us</h5>
                    <div class="footer_contact_info mt-2">
                        <div class="footer_contact_item">
                            <p class="footer_contact_line d-flex align-items-center">
                                <i class="fa fa-telegram fa-lg mr-2"></i>
                                <span>
                                    virginia@cheapeasyfast.com
                                </span>
                            </p>
                        </div>
                        <div class="footer_contact_item">
                            <p class="footer_contact_line d-flex align-items-center">
                                <i class="fa fa-phone fa-lg mr-2"></i>
                                <span>
                                    800-932-6813
                                </span>
                            </p>
                        </div>
                        <div class="footer_contact_item">
                            <p class="footer_contact_line d-flex align-items-center">
                                <i class="fa fa-clock-o fa-lg mr-2 mr-2"></i>
                                <span>
                                    Mon - Fri: 8 AM - 6 PM (PST)<br>
                                    Sat – Sun: 9 AM – 4 PM (PST)
                                </span>

                            </p>
                        </div>
                        <div class="footer_contact_item">
                            <p class="footer_contact_line d-flex align-items-center">
                                <i class="fa fa-map-marker fa-lg mr-2"></i>
                                <span>
                                    4901 Morena Blvd Suite 214, San Diego CA 92117
                                </span>

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="copyright py-3 text-white text-center ">
       
        <div class="terms d-sm-block  d-md-inline-block">
            <a routerLink="terms">Terms & Conditions</a>
        </div>
        <span class="mx-3 d-none d-md-inline-block">|</span>
        <div class="policy d-inline-block">
            <a routerLink="privacy-policy">Privacy Policy</a>
            <span class="mx-1">&</span>
            <a routerLink="refund-policy">Refund Policy</a>
        </div>
        <span class="mx-3 d-none d-lg-inline-block">|</span>
        <div class="d-md-block d-lg-inline-block">
            <p class="mb-0">&copy; 2021 Cheap Easy Fast Virginia. All Rights Reserved.</p>
        </div>
    </div>
</footer>